
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
font-family: 'Numans', sans-serif;
}
.wrapper{
	width:60%;
	margin:0% auto;
}
form{
	padding: 6%;
	border-radius: 12px;
	background: #6c6c6f;
	width: 50%;
	margin:18% auto 0%;
	text-align: center;
}
input{
	width:60%;
	padding:15px;
	border-radius: 50px;
	border:1px solid #d3d3de;
	margin-bottom: 10px;

}

.submit{
	width:40%;
	padding:15px;
	border-radius: 50px;
	font-size: 16px;
	background: aqua;
	color:#2a2a2a;
	font-weight: 700;
	margin-top: 3%;

}